header {
  background: linear-gradient(rgb(255, 0, 0), black);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 10px;
}
header header h1 {
  font-size: 25px;
  text-shadow: black 2px 1px;
}

.titulo_header a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(../img/battlefield5.jpg);
  background-attachment: fixed;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.icono_header {
  max-width: 80px;
}

.nav a {
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 20px;
}
.nav a:hover {
  background-color: #b40000;
}

.navbar {
  color: black;
}

.navbar-light {
  background-color: #ae1b4e !important;
}

.imagen__portada {
  text-align: center;
  background-color: black;
}
.imagen__portada img {
  width: 100%;
}

main {
  background-color: rgba(117, 117, 117, 0.801);
  width: 100%;
}

@media (max-width: 550px) {
  .titulo_secciones {
    padding: 10px;
  }
  .titulo_secciones h1 {
    font-size: 25px;
  }
}
.titulo_secciones {
  background-color: black;
}
.titulo_secciones h1 {
  color: #1affe9;
  padding: 70px;
  text-align: center;
  text-shadow: #ae1b4e 2px 1px;
}

.secciones {
  margin: 50px;
}
.secciones .fondo_secciones_cuadros {
  background-color: black;
  margin: 25px;
}
.secciones .fondo_secciones_cuadros .secciones_cuadros_texto {
  padding: 25px;
  color: #ae1b4e;
  font-size: 20px;
}

@media (max-width: 550px) {
  .secciones_cuadros_texto p {
    font-size: 15px;
  }
}
.secciones img {
  width: 100%;
}

.pie__main {
  color: white;
  -webkit-backface-visibility: unset;
          backface-visibility: unset;
  margin-top: 150px;
  padding: 20px;
}
.pie__main .pie__main__form {
  text-align: center;
}
.pie__main .pie__main__form .pie__main textarea {
  margin: 15px;
}

.redes {
  margin-top: 70px;
  text-align: center;
}
.redes .redes__titulo {
  text-decoration: underline;
}

.redes__sociales {
  margin-top: 30px;
}
.redes__sociales a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: gray;
  border: solid 1px;
  border-radius: 10px;
  text-decoration: none;
  color: #ae1b4e;
}
.redes__sociales a:hover {
  background-color: rgb(68, 68, 68);
  color: #b40000;
}

.boton_inicio {
  max-width: 50px;
}
.boton_inicio:hover {
  transform: scale(1.1);
}
.boton_inicio img {
  width: 100%;
}

/*otras paginas*/
.seccion_cuadros_largos {
  padding: 50px;
  background-color: black;
}

.fondo_cuadros_largos img {
  width: 100%;
}

.fondo_cuadros_largos {
  margin: 50px;
  padding: 50px;
  background-color: rgb(87, 87, 87);
}

.cuadros_largos {
  background-color: rgb(0, 0, 0);
}

.cuadros_largos_texto {
  font-size: 25px;
  padding: 50px;
  color: white;
}

.seccion_cuadros {
  margin: 50px;
}

.seccion_cuadros img {
  width: 100%;
}

.secciones_noticias {
  margin: 50px;
}

.cuadros_noticia {
  background-color: black;
  margin: 10px;
}

.cuadro_noticia_texto {
  padding: 10px;
  color: #e63d2e;
}

.estadisticas__titulo {
  text-align: center;
  background-color: white;
  padding: 1px;
  margin: 50px;
}

.estadisticas article {
  margin: 50px;
  padding: 10px;
  background-color: white;
}

.estadisticas table {
  margin: auto;
  border: solid 1px;
  border-collapse: collapse;
}

.estadisticas table td {
  padding: 10px;
  border: solid 2 px black;
}

footer {
  padding: 5px;
  color: white;
  text-align: center;
  background-color: black;
}/*# sourceMappingURL=main.css.map */