header {
  background: linear-gradient(#1affe9, black);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 10px;
}
header .titulo_header {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
}

body {
  width: 100%;
  background-image: url(../img/battlefield5.jpg);
  background-attachment: fixed;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.icono_header {
  max-width: 90px;
}

.navbar-nav a {
  font-size: 15px;
  color: white !important;
}
.navbar-nav a:hover {
  color: #ae1b4e !important;
}

.navbar-light {
  background-color: transparent !important;
}

.imagen__portada {
  text-align: center;
  background-color: black;
}
.imagen__portada img {
  width: 100%;
}

@media (min-width: 1500px) {
  .imagen__portada img {
    width: 80%;
  }
}
main {
  background-color: rgba(117, 117, 117, 0.801);
}

.secciones img {
  width: 100%;
}

.titulo_secciones {
  background-color: black;
}
.titulo_secciones h1 {
  color: #1affe9;
  padding: 70px;
  text-align: center;
  text-shadow: #ae1b4e 2px 1px;
}

.secciones {
  margin: 120px;
}
.secciones .fondo_secciones_cuadros {
  background-color: black;
  margin: 25px;
}
.secciones .fondo_secciones_cuadros .secciones_cuadros_texto {
  padding: 25px;
  color: #ae1b4e;
  font-size: 20px;
}

@media (max-width: 550px) {
  .icono_header {
    width: 75px;
  }
}
@media (max-width: 550px) {
  .titulo_secciones {
    padding: 10px;
  }
  .titulo_secciones h1 {
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  .secciones_cuadros_texto p {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  header h1 {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  header .navbar-nav a {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .titulo_secciones {
    padding: 10px;
  }
  .titulo_secciones h1 {
    font-size: 28px;
  }
}
@media (max-width: 800px) {
  .secciones_cuadros_texto p {
    font-size: 17px;
  }
}
.secciones img {
  width: 100%;
}

.pie__main {
  color: white;
  -webkit-backface-visibility: unset;
          backface-visibility: unset;
  padding: 20px;
}
.pie__main .pie__main__form {
  text-align: center;
}
.pie__main .pie__main__form .pie__main textarea {
  margin: 15px;
}

.redes {
  margin-top: 70px;
  text-align: center;
}
.redes .redes__titulo {
  text-decoration: underline;
}

.redes__sociales {
  margin-top: 30px;
}
.redes__sociales .icon {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: gray;
  border: solid 1px;
  border-radius: 10px;
  text-decoration: none;
  color: #ae1b4e;
}
.redes__sociales .icon:hover {
  background-color: rgb(68, 68, 68);
  color: #00adb9;
}
.redes__sociales .icon:hover a {
  color: #00adb9;
}
.redes__sociales .icon a {
  color: #ae1b4e;
}

.icon svg {
  width: 20px;
}

.boton_inicio {
  max-width: 50px;
}
.boton_inicio:hover {
  transform: scale(1.1);
}
.boton_inicio img {
  width: 100%;
}

/*otras paginas*/
.seccion_cuadros_largos {
  padding: 50px;
  background-color: black;
}
.seccion_cuadros_largos .fondo_cuadros_largos {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  background-color: rgb(87, 87, 87);
}
.seccion_cuadros_largos .fondo_cuadros_largos img {
  width: 100%;
}

.cuadros_largos {
  background-color: rgb(0, 0, 0);
}
.cuadros_largos .cuadros_largos_texto {
  font-size: 25px;
  padding: 30px;
  color: white;
}

@media (max-width: 600px) {
  .fondo_cuadros_largos {
    margin: 1px;
  }
  .fondo_cuadros_largos .cuadros_largos {
    margin: 1px;
  }
  .fondo_cuadros_largos .cuadros_largos .cuadros_largos_texto {
    margin: 10px;
    padding: 5px;
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  .fondo_cuadros_largos {
    margin: 1px;
  }
  .fondo_cuadros_largos .cuadros_largos {
    margin: 1px;
  }
  .fondo_cuadros_largos .cuadros_largos .cuadros_largos_texto {
    margin: 50px;
    padding: 5px;
    font-size: 18px;
  }
}
@media (max-width: 1220px) {
  .cuadros_largos_texto {
    font-size: 20px;
  }
}
.seccion_cuadros {
  margin: 50px;
}
.seccion_cuadros img {
  width: 100%;
}

.cuadros_noticia {
  height: 550px;
  background-color: black;
  margin: 10px;
}

.juegos_videos {
  margin: 100px;
}

.cuadros_juegos {
  overflow: hidden;
  overflow-y: scroll;
  background-color: black;
  margin: 10px;
  height: 650px;
}
.cuadros_juegos .cuadro_div_texto {
  padding: 10px;
  color: #ae1b4e;
}

.cuadros_juegos::-webkit-scrollbar {
  width: 5px;
}

.cuadros_juegos h4 {
  margin-top: 10px;
  text-align: center;
  color: #1affe9;
  text-decoration: underline;
}

.cuadros_noticia_video {
  width: 100%;
}
.cuadros_noticia_video iframe {
  width: 100%;
}

.cuadro_noticia_texto {
  margin: 10px;
  color: #ae1b4e;
}

.cuadros_clips {
  background-color: black;
  margin: 10px;
}
.cuadros_clips .cuadro_div_texto {
  padding: 10px;
  color: #ae1b4e;
}

.cuadros_clips h4 {
  padding-top: 10px;
  text-align: center;
  color: #1affe9;
  text-decoration: underline;
}

.estadisticas__titulo {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 50px;
}

.estadisticas article {
  margin: 50px;
  padding: 10px;
  background-color: white;
}

.estadisticas table {
  margin: auto;
  border: solid 1px;
  border-collapse: collapse;
}

.estadisticas table td {
  padding: 10px;
  border: solid 2 px black;
}

.table_valorant {
  width: 100%;
  background-image: url(../img/valorant.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #1affe9;
  padding: 50px;
}
.table_valorant table {
  margin: auto;
  text-align: center;
  margin-top: 25px;
}
.table_valorant table th {
  border: 1px solid #ae1b4e;
  padding: 15px;
  background-color: rgb(116, 114, 114);
  color: black;
}
.table_valorant table th:hover {
  background-color: #ae1b4e;
}

.table_compe thead {
  background-color: black;
}

.table_csgo {
  width: 100%;
  background-image: url(../img/csgo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #1affe9;
  padding: 50px;
}
.table_csgo table {
  margin: auto;
  text-align: center;
  margin-top: 25px;
}
.table_csgo table th {
  border: 1px solid #ae1b4e;
  padding: 15px;
  background-color: rgb(116, 114, 114);
  color: black;
}
.table_csgo table th:hover {
  background-color: #ae1b4e;
}

footer {
  padding: 5px;
  color: white;
  text-align: center;
  background-color: black;
}/*# sourceMappingURL=main.css.map */