header{
    background: linear-gradient(red, black);

    color: white;
    padding: 10px;
}
body{
    background-color: #363534; 
}

.icono_header{
    max-width: 100px;
}

.titulo_header{
    padding: 25px;
    text-align: start;
    
}

nav{
    margin: 20px;
    text-align: center;
}

header li a{
    text-decoration: none;
    color: white;
}

header nav li{
    border: solid 2px rgb(148, 7, 7);
    border-radius: 20px;
    display: inline;
    margin: 50px;
    padding: 10px;
}

.imagen__portada img{
    width: 100%;
}

.imagen__portada{
    text-align: center;
    background-color: black;
    
}

main{
    background-color: rgba(117, 117, 117, 0.801);
}



.titulo_secciones{
    color: white;
    padding: 70px;
    text-align: center;
}

.secciones{
    margin: 50px;
}

.secciones img{
    width: 100%;
}

.secciones_cuadros{
    margin: 25px;
}

.texto{
    padding: 20px;
    color: #e63d2e;
    background-color: rgb(0, 0, 0);
}


/*
.secciones div{
    padding: 50px;
    border-radius: 5px;
    margin: 100px;
    background-color: aliceblue;
}*/






.redes{
    margin-top: 70px;
    text-align: center;
}

.redes__titulo{
    text-decoration: underline;
}

.redes__sociales li{
    display: inline-block;
    margin: 50px;
    padding: 10px;
    background-color: gray;
    border: solid 1px ;
    border-radius: 10px;
}

.redes__sociales li a{
    text-decoration: none;
    color: rgb(151, 0, 0);
}

.pie__main{
    color: white;
    background-color: #333333;
    margin-top: 150px;
    padding: 20px;

}

.pie__main__form{
    text-align: center;
}

.pie__main textarea{
    margin: 15px;
}

.boton_inicio img{
    width: 100%;
}

.boton_inicio{
    max-width: 50px;
}





/*pag competitivo*/

.estadisticas__titulo{
    text-align: center;
    background-color: white;
    padding: 1px;
    margin: 50px;
}

.estadisticas article{
    
    margin: 50px;
    padding: 10px;
    background-color: white;
}

.estadisticas table {
    margin: auto;
    border: solid 1px;
    border-collapse: collapse;
}

.estadisticas table td {
    padding: 10px;
    border: solid 2 px black;
}



footer{
    padding: 1px;
    color: white;
    text-align: center;
    background-color: black;
}